@model IEnumerable<Library.Models.Order>

@{
    ViewData["Title"] = "StoreOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@QuickOrderAdmin.Utilities.SelectedStore.CurrentStore.StoreName</h1>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyerId)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.OrderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @item.OrderDate.ToString("dddd, dd MMMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerId)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.OrderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.ActionLink("Details", "OrderDetail", "Store",new {  id=item.OrderId },new { @class="btn btn-primary"}) 
              
            </td>
        </tr>
}
    </tbody>
</table>
